footer {
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: darkgray;
    padding: 11px 0 11px 10px;
}

@media only screen and (min-width: 768px) {
    footer {
        padding: 31px 0 31px 10px;
    }
}
