main {
    height: 90%;
    width: 100%;
    border: solid black 1px;
    background-color: #4AC9FF;
}

/*Algemene Opmaak (main):

De main sectie van de pagina beslaat 90% van de hoogte en 100% van de breedte.
Het heeft een zwarte rand van 1 pixel en een achtergrondkleur van #4AC9FF (een soort lichtblauw).*/
header {
    height: 50px;
    width: 100%;
    border: solid black 1px;
    background-color: #4AC9FF;
}

/*Header (header):

Een header met een hoogte van 50 pixels die dezelfde opmaak heeft als de main sectie.*/
a {
    text-decoration: none;
}

/*Hyperlinks (a):

Hyperlinks hebben geen onderstreping (text-decoration: none), waarschijnlijk om de standaardopmaak te verwijderen.*/
.flex-container {
    display: flex;
    column-gap: 10px;
    flex-direction: row;
}

.flex-containerII {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}

.flex-containerIII {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.flex-containerIV {
    display: flex;
    flex-direction: column;
    row-gap: 5%;
}

.flex-containerV {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.flex-containerVI {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 10px 20px 40px 20px 100px;
    justify-content: center;
    row-gap: 5px;
}

/*Flex Containers (flex-container, flex-containerII, ...):

Deze klassen definiëren verschillende soorten flex containers (met verschillende richtingen en ruimtes tussen de items) voor het positioneren van elementen op de pagina.*/
footer {
    height: 50px;
    width: 100%;
    border: solid black 1px;
    background-color: #4AC9FF;
}

/*Footer (footer):

Een footer met dezelfde opmaak als de main sectie.*/
.pageButtons {
    float: right;
    margin-right: 10px;
}

.pageTitle {
    float: left;
}

/*Paginaknoppen en -titel (pageButtons, pageTitle):

Stijlen voor het positioneren van knoppen (float: right) en titels (float: left).*/
.Button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    border: solid black 1px;
    text-align: center;
    line-height: 25px;
}

/*Knop (Button):

Een algemene klasse voor knoppen met een vaste breedte en hoogte, een zwarte rand en gecentreerde tekst.*/
#hTagTitle {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    width: 300px;
}

.indexViewRight {
    height: 98%;
    width: 25%;
    border: solid black 1px;
    float: right;
    margin: 10px;
    overflow-y: scroll;
    background-color: #9EEEFF;
}

.indexViewLeft {
    height: 98%;
    width: 70%;
    border: solid black 1px;
    float: left;
    margin: 10px;
    overflow-y: scroll;
    background-color: #9EEEFF;
}

.upperInfoDiv {
    height: 30%;
    border: solid black 1px;
    background-color: #4AC9FF;
}

.lowerInfoDiv {
    height: 70%;
    border: solid black 1px;
}

.image {
    height: 100%;
    width: 40%;
    float: left;
}

.image img {
    border: solid black 1px;
    height: 99%;
    width: 99%;
}

.infoLines {
    height: 100%;
    width: 60%;
    float: right;
}

.textField {
    height: 8%;
    width: 95%;
    border: solid black 1px;
    margin: 0px 0px 0px 10px;
    padding: 0px;
}

.text {
    height: 5%;
    width: 95%;
    margin: 0px 0px 0px 10px;
    padding: 0px;
}

#item1 {
    order: 1;
}

#item2 {
    order: 2;
}

#item3 {
    order: 3;
}

#item4 {
    order: 4;
}

#item5 {
    order: 5;
}

#item6 {
    order: 6;
}

#item7 {
    order: 7;
}

#item8 {
    order: 8;
}

/*Elementen met specifieke ID's (item1, item2, ...):

Specifieke stijlen voor elementen met bepaalde ID's.*/
.profileList-item {
    width: 95%;
    height: 10%;
    border: solid black 1px;
    margin: 2%;
    background-color: #4AC9FF;
}

.profileList-item-left {
    width: 40%;
    height: 100%;
    float: left;
}

.profileCardImage {
    height: 90%;
    width: 90%;
    border: solid black 1px;
    margin: 5px;
}

.profileList-item-right {
    height: 100%;
    width: 60%;
    float: right;
    justify-content: center;
}

.profileCard-text {
    height: 20px;
    width: 90%;
    margin: 0px 0px 0px 5%;
    text-decoration: black;
    text-overline-color: black;
}

/*Profiellijst en -kaart (profileList-item, profileList-item-left, ...):

Stijlen voor het weergeven van profiellijstitems met een linker- en rechterdeel.*/
.midSection {
    height: 10%;
    width: 100%;
}

.lowerSection {
    height: 100%;
    width: 100%;
    justify-content: center;
}

/*Midden- en Ondergedeelte (midSection, lowerSection):

Stijlen voor bepaalde delen van de pagina.*/
.flexV-item {
    border: solid black 1px;
    width: 95%;
    height: 225px;
    margin: 0px 0px 0px 2%;
    background-color: #4AC9FF;
}

.contentCard-left {
    height: 100%;
    width: 30%;
    float: left;
}

.contentCard-right {
    height: 100%;
    width: 70%;
    float: right;
}

/*Projectkaart (contentCard-left, contentCard-right):

Een kaart voor het weergeven van projectinformatie met linker- en rechtergedeelten.*/
.projectImage {
    height: 90%;
    width: 90%;
    margin: 4%;
}

.projectLabel {
    margin: 0px;
}

.projectText {
    margin: 0px;
}

#grid-item1 {
    grid-row: 2;
    grid-column: 1;
}

#grid-item2 {
    grid-row: 3;
    grid-column: 1;
    border: solid black 1px;
}

#grid-item3 {
    grid-row: 2;
    grid-column: 2;
}

#grid-item4 {
    grid-row: 3;
    grid-column: 2;
    border: solid black 1px;
}

#grid-item5 {
    grid-row: 4;
    grid-column: 1;
}

#grid-item6 {
    grid-row: 5;
    grid-column: 1 / 3;
    border: solid black 1px;
}

/*Grid Items (grid-item1, grid-item2, ...):

Stijlen voor items in een grid, zoals hun positie en eventuele randen.*/


/*Afbeeldingen (image, projectImage):

Stijlen voor het weergeven van afbeeldingen binnen hun respectieve containers.
Tekstvelden (textField, text):

Stijlen voor invoervelden en tekstgebieden.
Overige Stijlen:

Verschillende andere stijlen, zoals hoogte, breedte, marges, en achtergrondkleuren, zijn gedefinieerd voor specifieke elementen op de pagina.*/