/*
    This gives the main a bit of surrounding padding and a different background color
    This way it more closely follows the design I had envisioned in Figma
 */
main {
    background-color: #4AC9FF;
    padding: 10px;
}

/*
    Turns the settingsContainer into a flex container
    and centers all it's items while displaying them in a column
    Also gives it a different background color
*/
.settingsContainer {
    background-color: #9EEEFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Turns any form into a flex container and displays it in a column */
form {
    display: flex;
    flex-direction: column;
}

/* Resizes the settingsField's width, height and gives it a margin */
.settingsField {
    width: 268px;
    height: 30px;
    margin: 5px 0;
}

/* Resizes the editButton while also centering it's text and giving it a border */
.editButton {
    width: 268px;
    margin: 20px auto;
    border: black 1px solid;
    padding: 2px;
    text-align: center;
}

/* On hover darken the editButton's background-color */
.editButton:hover {
    background-color: #d4d3d3;
}

/* On click darken the editButton's background-color even more */
.editButton:active {
    background-color: #AEAEAE;
}

/*
    This is currently unused,
    but was suposed to setup the confirmModal when attempting to change your password
*/
#confirmModal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #AEAEAE;
}

/*
    This is currently unused,
    but was suposed to change the confirmModal's text's color and size
    when attempting to change your password
*/
.modalText {
    color: #C30000;
    font-weight: 700;
}

/*
    This is currently unused,
    but was suposed to change the confirmModal's text's color and size
    when you get past the first confirm message
*/
.dangerModalText {
    color: #C30000;
    font-weight: 800;
}

/*
    This is currently unused,
    but was suposed to appear within the confirmModal when attempting to change your password
*/
.confirmButton {
    background-color: #D9D9D9;
    color: #C30000;
}

/*
    This is currently unused,
    but was suposed to appear within the confirmModal when attempting to change your password
*/
.cancelButton {
    background-color: #D9D9D9;
    color: #00C614;
}

/* This starts the Tablet device changes */
@media only screen and (min-width: 768px) {
    /* Resizes the settingsField and editButton's size */
    .settingsField, .editButton {
        width: 300px;
        height: 30px;
    }
}

/* This starts the Laptop device changes */
@media only screen and (min-width: 1200px) {
    /* Resizes the settingsField and editButton's size */
    .settingsField, .editButton {
        width: 500px;
        height: 45px;
    }
    /* Adds a bit more padding to the editButton */
    .editButton {
        padding: 5px;
    }
}