/*Mobile/Generic styling*/

/*
    This gives the main a bit of surrounding padding and a different background color
    This way it more closely follows the design I had envisioned in Figma
 */
main {
    background-color: #4AC9FF;
    padding: 10px;
}

/* This only changes the background color of the registerContainer */
.registerContainer {
    background-color: #9EEEFF;
}

/* This centers the text at the top of the form */
.centerText {
    margin: 0 auto 0 auto;
    text-align: center;
}

/* Displays the registerForm as a flex container in column direction and also centering the items within */
.registerForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 10px;
}

/* sets the width and height of the registerFields */
.registerField {
    width: 200px;
    height: 30px;
}

/* sets the width and height of the registerButton */
.registerButton {
    width: 200px;
    height: 30px;
}

/* This starts the Tablet device changes */
@media only screen and (min-width: 768px) {
    /*
        Displays the registerForm as a grid container
        so the items are displayed in two columns side by side
    */
    .registerForm {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(5, 1fr);
        justify-items: center;
        justify-content: center;
    }

    /* Enlarges the registerFields */
    .registerField {
        width: 300px;
        height: 45px;
    }
    /* Lines up the registerButton so it spans across both columns at the bottom of the grid */
    .registerButton {
        grid-column: 1 / span 2;
        grid-row: 5;
    }
}

/* This starts the laptop device changes */
@media only screen and (min-width: 1200px) {
    /* Enlarges the registerField once again */
    .registerField {
        width: 400px;
        height: 60px;
    }
    /* Enlarges the registerButton */
    .registerButton {
        width: 300px;
        height: 45px;
    }
}